*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.exe
*.out
*.app
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.pdb
*.ipdb
*.iobj
*.log
*.txt
*.tlog
*.suo
*.manifest
*.cfg
*.zip
*.recipe
*.res
*.aps
