# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
tetris_ai/.vs/Tspin/v16/.suo
tetris_ai/.vs/Tspin/v16/Browse.VC.db
tetris_ai/.vs/Tspin/v16/Browse.VC.db-shm
tetris_ai/.vs/Tspin/v16/Browse.VC.db-wal
tetris_ai/.vs/Tspin/v16/Browse.VC.opendb
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/5a21b58093a371dd/TETRIS_AI.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/5b2ed26e83f5d850/GENMOVE.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/7251ddfa10929a89/AI.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/84487fe1ff537300/MAIN.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/8a80f1e92767b41/PSO.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/8f4af0b8038d9465/DLLAI.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/cbe7a72c3073c0ea/GENMOVE.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/e2cd41612cbe9962/TETRIS_CORE.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/e4d10b1627c1e1cd/PSO.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/e6af150c6b28961a/TETRIS_CORE.ipch
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/ec7d831bfbab0d4d/GAMEPOOL.ipch
tetris_ai/.vs/Tspin/v16/Solution.VC.db
tetris_ai/.vs/Tspin/v16/Solution.VC.db-shm
tetris_ai/.vs/Tspin/v16/Solution.VC.db-wal
tetris_ai/tetris_ai.aps
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/358e969746c4e65c/PSO.ipch
tetris_ai/XP_Release/tetris_ai.log
tetris_ai/XP_Release/tetris_ai.res
tetris_ai/XP_Release/Tspin.exe.intermediate.manifest
tetris_ai/XP_Release/Tspin.exe.recipe
tetris_ai/XP_Release/Tspin.iobj
tetris_ai/XP_Release/Tspin.ipdb
tetris_ai/XP_Release/Tspin.tlog/CL.command.1.tlog
tetris_ai/XP_Release/Tspin.tlog/CL.read.1.tlog
tetris_ai/XP_Release/Tspin.tlog/CL.write.1.tlog
tetris_ai/XP_Release/Tspin.tlog/link.command.1.tlog
tetris_ai/XP_Release/Tspin.tlog/link.read.1.tlog
tetris_ai/XP_Release/Tspin.tlog/link.write.1.tlog
tetris_ai/XP_Release/Tspin.tlog/mt.command.1.tlog
tetris_ai/XP_Release/Tspin.tlog/mt.read.1.tlog
tetris_ai/XP_Release/Tspin.tlog/mt.write.1.tlog
tetris_ai/XP_Release/Tspin.tlog/rc.command.1.tlog
tetris_ai/XP_Release/Tspin.tlog/rc.read.1.tlog
tetris_ai/XP_Release/Tspin.tlog/rc.write.1.tlog
tetris_ai/XP_Release/Tspin.tlog/Tspin.lastbuildstate
tetris_ai/XP_Release/vc142.pdb
tetris_ai/.vs/Tspin/v16/ipch/AutoPCH/4d96ffa77eaffcd3/MAIN.ipch
tetris_ai/bin/misamino.cfg
tetris_ai/bin/misamino_update.zip
tetris_ai/bin/Tspin.exe.manifest
tetris_ai/bin/Tspin.pdb
